<div id="pantry">
  <h2 id="myPantry">My Pantry</h2>
  <div>
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="100" style="margin:4em auto;"></mat-progress-spinner>
    <div id="pantryInfo">
      <p>Total Ingredients: {{ pantry.numberOfAvailableIngredients }}</p>
      <ng-container *ngIf="!isLoading && authenticated">
        <p *ngIf="pantryUpdated;then saved else saving"></p>
        <ng-template #saved><p class="saveProgress">Saved!</p></ng-template>
        <ng-template #saving><mat-progress-bar mode="buffer" class="saveProgress"></mat-progress-bar></ng-template>
      </ng-container>
    </div>
    <app-search-bar *ngIf="!isLoading"></app-search-bar>
    <div *ngIf="!isLoading" ngbAccordion id="ingredientGroupAccordionList">
      <div ngbAccordionItem *ngFor="let group of pantry.ingredientGroups" [id]="group.description">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>
            {{ group.description }} - {{ pantry.getCountOfAvailableIngredientsInGroup(group) }}/{{ group.ingredients.length }}
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="ingredient-group">
                <div class="pantry-ingredient" *ngFor="let ingredient of group.ingredients | slice:0:group.ingredientsToShow">
                    <button type="button" class="btn btn-success btn-sm"
                      [class.btn-not-available]="!pantry.isIngredientAvailable(ingredient)"
                      [class.btn-available]="pantry.isIngredientAvailable(ingredient)"
                      (click)="toggleIngredient(ingredient)">{{ ingredient.ingredientName }}</button>
                </div>
                <div class="break"></div> <!-- Flexbox line break -->
                <button *ngIf="group.ingredientsToShow >= INGREDIENTS_TO_SHOW && group.ingredients.length >= INGREDIENTS_TO_SHOW" (click)="group.toggleIngredientsToShow()">
                  {{ group.ingredientsToShow === INGREDIENTS_TO_SHOW ? 'Show More...' : 'Show Less...' }}
                </button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
