<div id="kitchen">
  <h2 id="myPantry">My Kitchen</h2>
  <mat-tab-group preserveContent="true" animationDuration="0ms">
    <mat-tab label="Recipes">
      <br><br>
      <p style="text-align: center;">Recipe sneak peak -- Stay tuned for more details!</p>
<!--      <button mat-raised-button color="primary" (click)="testRecipe()">Test Recipe</button>-->
      <button mat-raised-button color="primary" (click)="getRecipes()">Find Recipes!</button>
      <div id="recipeContainer">
        <app-recipe *ngFor="let recipe of recipes" [recipe]="recipe"></app-recipe>
      </div>
    </mat-tab>
    <mat-tab label="Grocery Lists">
      <br><br>
      <p style="text-align: center;">We're sorry, this content is not available yet.</p>
    </mat-tab>
    <mat-tab label="Pantry Analysis">
      <div class="mx-2 my-2">
        <div class="fw-bold text-uppercase">In stock:</div>
        <span *ngFor="let ingredient of getAvailableIngredientsArray(); let last=last">{{ingredient.ingredientName}}<ng-container *ngIf="!last">, </ng-container> </span>
      </div>
    </mat-tab>
    <mat-tab *ngIf="user$ | async as user" label="Profile">
      <p style="text-align: center;">Name: {{ user.name }}</p>
      <p style="text-align: center;">Email: {{ user.email }}</p>
      <p style="text-align: center;"><b>More profile data coming soon</b></p>
    </mat-tab>
  </mat-tab-group>
</div>
