<div id="kitchen">
  <h2 id="myPantry">My Kitchen</h2>
  <mat-tab-group preserveContent="true" animationDuration="0ms">
    <mat-tab label="Recipes">
      <br><br>
      <p style="text-align: center;">Recipe sneak peak -- Stay tuned for more details!</p>
<!--      <button mat-raised-button color="primary" (click)="testRecipe()">Test Recipe</button>-->
      <button mat-raised-button color="primary" (click)="getRecipes()">Find Recipes!</button>
      <div id="recipeContainer">
        <app-recipe *ngFor="let recipe of recipes" [recipe]="recipe" [availableIngredients]="availableIngredients" [groceryList]="groceryLists[0]"></app-recipe>
      </div>
    </mat-tab>
    <mat-tab label="Grocery Lists" (click)="setupGroceryLists()">
      <br><br>
      <div>
        <input #box placeholder="new list" />
        <button mat-raised-button color="primary" (click)="createGroceryList(box.value)">Create a list?</button>
      </div>
      <ng-template *ngIf="!groceryLists || groceryLists.length < 1; else userHasLists">
        <p style="text-align: center;">You have no grocery lists.</p>
      </ng-template>
      <ng-template #userHasLists>
        <div class="groceryListContainer">
          <div *ngFor="let list of groceryLists">
            <p>{{list.groceryListTitle}}</p>
            <!-- <p>{{list.id}}</p>
            <p>{{list.userId}}</p>
            <p>{{list.groceryListItems}}</p> -->
            <app-grocery-list [groceryList]="list"></app-grocery-list>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Pantry Analysis">
      <div class="mx-2 my-2">
        <div class="fw-bold text-uppercase">In stock:</div>
        <span *ngFor="let ingredient of availableIngredients; let last=last">{{ ingredient }}<ng-container *ngIf="!last">, </ng-container> </span>
      </div>
    </mat-tab>
    <mat-tab *ngIf="user$ | async as user" label="Profile">
      <p style="text-align: center;">Name: {{ user.name }}</p>
      <p style="text-align: center;">Email: {{ user.email }}</p>
      <p style="text-align: center;"><b>More profile data coming soon</b></p>
    </mat-tab>
  </mat-tab-group>
</div>
