#kitchen {
  height: 87vh;
  border-radius: 1rem;
  margin: 2rem 1rem;
  box-shadow: -5px 0 5px lightblue, 5px 0 5px lightblue;
  padding: 5px;
}

h2 {
  text-align: center;
}

#recipeContainer {
  display: flex;
  margin-top: 20px;
}

@media screen and (max-height: 1000px) {
  #kitchen {
    height: 83vh;
  }
}

@media screen and (max-height: 800px) {
  #kitchen {
    height: 80vh;
  }
}

@media screen and (max-height: 650px) {
  #kitchen {
    height: 75vh;
  }
}
