#pageWrapper {
  margin: 20px;
}

main {
  height: 87vh;
  display: flex;
  gap: 1em;
  justify-content: space-around;
}

app-kitchen {
  height: 100%;
  width: 80%;
  flex: 4;
}

app-pantry {
  flex: 1;
  height: 100%;
}