#pageWrapper {
  margin: 20px;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;

}

main {
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: space-around;
}

#app-split {
  width:100%;
}

as-split-area {
  overflow-y: hidden !important;
}

app-kitchen {
  height: 100%;
  width: 80%;
  flex: 4;
}

app-pantry {
  flex: 1;
  height: 100%;
}
