.recipe {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.recipe img {
  width: 100px;
  height: auto;
}

.recipe h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.recipe ul {
  list-style-type: none;
  padding: 0;
}

.recipe li {
  margin-bottom: 5px;
}

button.groceryAddButton {
  height: 1.5rem;
  margin-left: .4rem;
}