.recipe {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column; /* Add this line */
  justify-content: center; /* Add this line */
}

.recipeTitle {
  font-weight: bold;
}
.recipe img {
  width: 100px;
  height: auto;
}

.recipe h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.recipe ul {
  list-style-type: none;
  padding: 0;
}

.recipe li {
  margin-bottom: 5px;
}

.recipeIngredientInfo {
  p {
    margin: auto;
    text-align: center;
  }
}

.recipe:hover {
  cursor: pointer;
  background-color: #f8f8fc;
}
