<div *ngIf="groceryList" class="card groceryListCard">
  <div class="card-body">
    <div class="card-title">{{ groceryList.groceryListTitle }}</div>
    <button  mat-raised-button color="warn" class="groceryListRemoveButton"
     (click)="deleteGroceryList(groceryList.groceryListId)">delete list</button>
    <ng-template *ngIf="groceryList.groceryListIngredients; else noIngredients">
      <ul class="card-body">
        <li *ngFor="let ingredient of groceryList.groceryListIngredients.split(',')"
        >{{ ingredient }}<button mat-raised-button color="warn" class="groceryRemoveButton"
        (click)="removeItemFromList(ingredient)">-</button>
      </li>
    </ul>
  </ng-template>
  <ng-template #noIngredients>
    <ul class="card-body">
      no ingredients...
    </ul>
  </ng-template>
  </div>
</div>
