<div id="recipeDetailContainer">
  <h2>{{ data.recipe.title }}</h2>
  <img [src]="data.recipe.image" alt="{{ data.recipe.title }}">
  <h3>Ingredients:</h3>
  <ul>
    <li *ngFor="let ingredient of data.details.extendedIngredients">
      {{ ingredient.name }}
    </li>
  </ul>
  <h3 class="missingIngredients" *ngIf="data.recipe.missedIngredients.length > 0">Missing Ingredients:</h3>
  <ul *ngIf="data.recipe.missedIngredients.length > 0">
  <h3 class="missingIngredients">Missing Ingredients:</h3>
  <label for="groceryListSelect">Selected Grocery List:</label>
  <select id="groceryListSelect" [formControl]="selectedGroceryListId" (change)="changeSelectedGroceryList(selectedGroceryListId.value || groceryLists[0].groceryListId)">
    <option *ngFor="let list of groceryLists" [value]="list.groceryListId">{{ list.groceryListTitle }}</option>
  </select>
  <ul>
    <li *ngFor="let ingredient of data.recipe.missedIngredients">
      <div class="ingredient-container">
        <div class = "ingredientName">
        {{ ingredient }}
        </div>
        <div class="ingredientAddButtonContainer"*ngIf="!isIngredientInList(ingredient)">
          <button mat-raised-button color="primary"
                  (click)="addIngredientToGroceryList(ingredient)">add to Grocery List</button>
        </div>
      </div>
    </li>
  </ul>
  <h3>Instructions:</h3>
  <div [innerHTML]="data.details.instructions"></div>
  <button *ngIf="!data.isSaved" mat-raised-button color="accent" (click)="save()">Save</button>
  <button *ngIf="data.isSaved" mat-raised-button color="accent" (click)="unsave()">Unsave</button>
  <button mat-raised-button color="primary" (click)="onClose()">Close</button>
</div>
